
<ion-content [fullscreen]="true">
  <div class="flex-center">
    <ion-card>
      <ion-card-header>
        <ion-card-title color="success">
          <strong>Register Here</strong>
        </ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <ion-item>
            <ion-input label="Email" labelPlacement="floating" placeholder="Enter Email"
            type="email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input label="Password" labelPlacement="floating" placeholder="Enter Password"
          type="password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Password" labelPlacement="floating" placeholder="Confirm Password"
        type="password"></ion-input>
    </ion-item>
      <ion-button color="success" size="full" fill="clear">Register</ion-button>

      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
